<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .bnt{width: 90%;height: 60px;margin: auto;overflow: hidden}
    .bnt button a{text-decoration: none;color: white;}
    .bnt button{color: white;border: none;border-radius: 4px;height: 35px;background-color: green;

        font-size: 16px;}
</style>

<body>
<div class="bnt">
<a href="../test_ping"><button>start ping</button></a>
<a href="../test_delete"><button>delete file</button></a>
<a href="../test_view"><button>view content</button></a>
</div>
</body>
</html>
