<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .bnt{width: 90%;height: 60px;margin: auto;overflow: hidden}
    .bnt button a{text-decoration: none;color: white;}
    .bnt button{color: white;border: none;border-radius: 4px;height: 35px;background-color: green;

        font-size: 16px;}
</style>

<body>
<div class="bnt">
<button><a href="../test_ping">start ping</a></button>
<button><a href="../test_delete">delete file</a></button>
<button><a href="../test_view">view content</a></button>
</div>
</body>
</html>
